In [21]:
#Importing packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import warnings

warnings.filterwarnings("ignore")

In [22]:
#Importing the data
data = pd.read_csv("train.csv")
data.head(10)

   loan_amnt  funded_amnt  ...  verification_status_2  loan_status
0    20000.0      20000.0  ...                      0            1
1     7500.0       7500.0  ...                      0            1
2    11200.0      11200.0  ...                      0            1
3     6000.0       6000.0  ...                      0            1
4    10000.0      10000.0  ...                      0            5
5    16000.0      16000.0  ...                      0            1
6     3600.0       3600.0  ...                      0            1
7    20000.0      20000.0  ...                      1            0
8    35000.0      35000.0  ...                      0            1
9     8875.0       8875.0  ...                      1            1

[10 rows x 80 columns]

In [23]:
#checking the shape of the data
data.shape

(621165, 80)

In [24]:
#splitting independent and dependent variables
X = data.drop('loan_status',1)
X.head(5)

   loan_amnt  funded_amnt  ...  verification_status_1  verification_status_2
0    20000.0      20000.0  ...                      1                      0
1     7500.0       7500.0  ...                      1                      0
2    11200.0      11200.0  ...                      1                      0
3     6000.0       6000.0  ...                      0                      0
4    10000.0      10000.0  ...                      0                      0

[5 rows x 79 columns]

In [30]:
y = data[["loan_status"]].copy()
y.head(5)

   loan_status
0            1
1            1
2            1
3            1
4            5

In [31]:
#standardizing the data
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [32]:
# split the dataset
X_train , X_val, y_train , y_val = train_test_split(X,y, test_size=0.2, random_state =7)

y_train = pd.get_dummies(data = y_train, columns = y_train.columns)
y_val = pd.get_dummies(data = y_val, columns = y_val.columns)

In [33]:
# import libraries
from keras import models
from keras import layers 

# sequential model
model = models.Sequential()

# input layer
model.add(layers.Dense(128,input_dim = X_train.shape[1], activation = 'relu'))

# hidden layer
model.add(layers.Dense(128, activation = 'relu'))

# hidden layer
model.add(layers.Dense(64, activation = 'relu'))

# hidden layer
model.add(layers.Dense(10, activation = 'softmax'))

# compile the model
model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])

history = model.fit(X_train, y_train, batch_size = 64, epochs = 5)

#calculate the accuracy
accuracy = model.evaluate(X_val,y_val)
print(accuracy[1])

Epoch 1/5
7765/7765 [==============================] - 17s 2ms/step - loss: 0.2944 - accuracy: 0.9294
Epoch 2/5
7765/7765 [==============================] - 16s 2ms/step - loss: 0.1624 - accuracy: 0.9612
Epoch 3/5
7765/7765 [==============================] - 16s 2ms/step - loss: 0.1530 - accuracy: 0.9626
Epoch 4/5
7765/7765 [==============================] - 16s 2ms/step - loss: 0.1524 - accuracy: 0.9625
Epoch 5/5
7765/7765 [==============================] - 16s 2ms/step - loss: 0.1507 - accuracy: 0.9631
3883/3883 [==============================] - 4s 1ms/step - loss: 0.1489 - accuracy: 0.9634
0.9634155035018921

In [36]:
#predictions
# load the test data
test_data = pd.read_csv('test.csv')
test_data.head(10)

   loan_amnt  funded_amnt  ...  verification_status_1  verification_status_2
0    12400.0      12400.0  ...                      0                      1
1     8000.0       8000.0  ...                      0                      1
2    15000.0      15000.0  ...                      1                      0
3     8500.0       8500.0  ...                      0                      0
4    17600.0      17600.0  ...                      1                      0
5    35000.0      35000.0  ...                      0                      1
6    25000.0      25000.0  ...                      0                      1
7    20000.0      20000.0  ...                      1                      0
8    35000.0      35000.0  ...                      0                      1
9    10000.0      10000.0  ...                      0                      0

[10 rows x 79 columns]

In [37]:
#standardize the data
test_data = scaler.transform(test_data)

# predictions
ss = pd.DataFrame(model.predict(test_data))

# create the submission file
submission=ss.idxmax(1)
submission.to_csv('Submission.csv',index=False,header=['loan_status'])